# Игнорировать файлы и директории, которые заканчиваются на .pyc
*.pyc

# Игнорировать директорию "venv"
venv/

# Игнорировать файл ".env", содержащий конфиденциальные данные
.env

# Игнорировать каталог "migrations/"
migrations/

# Игнорировать каталог "..idea/", содержащий конфиденциальные данные
.idea/

# Игнорировать каталог "stripe.exe", содержащий конфиденциальные данные
stripe.exe